In [120]:
import tabula
import time
import urllib
import warnings
warnings.filterwarnings("ignore")

In [121]:
start=time.time()
a=tabula.read_pdf('C:\\Users\\This PC\\Desktop\\new2.pdf',pages='all')
print(time.time()-start)
pdf_path = 'https://github.com/abhinav223/PDF/blob/master/sample.pdf'
#a=tabula.read_pdf('http://bopter.gov.in/assets/pdf/Graduate_Technician_Apprentices.pdf',pages='all')
#a=tabula.read_pdf(pdf_path,pages='all',stream='True')

Got stderr: Aug 02, 2020 9:33:35 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Aug 02, 2020 9:33:35 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Aug 02, 2020 9:33:35 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Aug 02, 2020 9:33:36 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Aug 02, 2020 9:33:36 AM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored

1.6685664653778076

In [122]:
import pandas as pd
df=pd.DataFrame(a)

In [123]:
len(a)

1

In [124]:
a

[               Name of the Post                    Lab. Technician
 0                Number of Post                                 03
 1               Upper Age Limit          General – 35 years, Other
 2                           NaN        Backward Classes (OBC) – 38
 3                           NaN    years and SC/ST and CAT. I – 40
 4                           NaN                             years.
 5           Consolidated Salary             Rs. 30,000/-pm (fixed)
 6                      Duration                          15 months
 7   Essential Qualification and  Master’s Degree in Life Sciences,
 8                    Experience       Microbiology, Biotechnology,
 9                           NaN            and Biochemistry from a
 10                          NaN    recognized university with work
 11                          NaN      experience in relevant field.
 12         Desirable Experience           Experience in a research
 13                          NaN                       organization
 14             Nature of Duties            Overall coordination of
 15                          NaN    administrative activities under
 16                          NaN   the project along with the Study
 17                          NaN                               team]

In [125]:
df.shape

(1, 1)

In [128]:
tabula.convert_into('C:\\Users\\This PC\\Desktop\\new2.pdf','test.tsv',output_format='tsv',pages='all')
%more test.tsv

Got stderr: Aug 02, 2020 12:52:04 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Aug 02, 2020 12:52:04 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Aug 02, 2020 12:52:05 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Aug 02, 2020 12:52:05 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored
Aug 02, 2020 12:52:05 PM org.apache.pdfbox.pdmodel.font.PDCIDFontType2 <init>
INFO: OpenType Layout tables used in font ABCDEE+Calibri are not implemented in PDFBox and will be ignored

In [129]:

sd = pd.read_csv('test.tsv', sep='\t',encoding='cp1252')

In [130]:
dfs = pd.DataFrame(sd)
#dfs.set_index('Sl.').Monthly.str.split(r'\n').apply(pd.Series).stack().reset_index(level=1,drop=True).to_frame('t')
dfs.head()

  Name of the Post                  Lab. Technician
0   Number of Post                               03
1  Upper Age Limit        General – 35 years, Other
2              NaN      Backward Classes (OBC) – 38
3              NaN  years and SC/ST and CAT. I – 40
4              NaN                           years.

In [131]:
dfs.columns

Index(['Name of the Post', 'Lab. Technician'], dtype='object')

In [132]:
dfs.to_csv('extracted.csv')

In [133]:
import numpy as np

In [134]:
arr1 = np.array(dfs.iloc[:,0])

In [135]:
arr2 = np.array(dfs.iloc[:,1])

In [136]:
arr1

array(['Number of Post', 'Upper Age Limit', nan, nan, nan,
       'Consolidated Salary', 'Duration', 'Essential Qualification and',
       'Experience', nan, nan, nan, 'Desirable Experience', nan,
       'Nature of Duties', nan, nan, nan], dtype=object)

In [137]:
arr2

array(['03', 'General – 35 years, Other', 'Backward Classes (OBC) – 38',
       'years and SC/ST and CAT. I – 40', 'years.',
       'Rs. 30,000/-pm (fixed)', '15 months',
       'Master’s Degree in Life Sciences,',
       'Microbiology, Biotechnology,', 'and Biochemistry from a',
       'recognized university with work', 'experience in relevant field.',
       'Experience in a research', 'organization',
       'Overall coordination of', 'administrative activities under',
       'the project along with the Study', 'team'], dtype=object)

In [138]:
dfs.to_csv('extracted.csv')

In [139]:
jso=dfs.to_json()

In [140]:
jso

'{"Name of the Post":{"0":"Number of Post","1":"Upper Age Limit","2":null,"3":null,"4":null,"5":"Consolidated Salary","6":"Duration","7":"Essential Qualification and","8":"Experience","9":null,"10":null,"11":null,"12":"Desirable Experience","13":null,"14":"Nature of Duties","15":null,"16":null,"17":null},"Lab. Technician":{"0":"03","1":"General \\u2013 35 years, Other","2":"Backward Classes (OBC) \\u2013 38","3":"years and SC\\/ST and CAT. I \\u2013 40","4":"years.","5":"Rs. 30,000\\/-pm (fixed)","6":"15 months","7":"Master\\u2019s Degree in Life Sciences,","8":"Microbiology, Biotechnology,","9":"and Biochemistry from a","10":"recognized university with work","11":"experience in relevant field.","12":"Experience in a research","13":"organization","14":"Overall coordination of","15":"administrative activities under","16":"the project along with the Study","17":"team"}}'

In [141]:
dictionary = dict(zip(arr1,arr2))

In [142]:
dictionary

{'Number of Post': '03',
 'Upper Age Limit': 'General – 35 years, Other',
 nan: 'team',
 'Consolidated Salary': 'Rs. 30,000/-pm (fixed)',
 'Duration': '15 months',
 'Essential Qualification and': 'Master’s Degree in Life Sciences,',
 'Experience': 'Microbiology, Biotechnology,',
 'Desirable Experience': 'Experience in a research',
 'Nature of Duties': 'Overall coordination of'}